:root {
  --orange-500: hsl(25, 97%, 53%);
  --orange-600: hsl(25, 87%, 43%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --blue-900: hsl(213, 23%, 17%);
  --blue-950: hsl(210, 56%, 10%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

h1 {
  color: rgb(244, 244, 221);
  font-size: 3rem;
  font-weight: 700;
  line-height: 2;
}

p {
  color: var(--grey-500);
  font-size: 1.4rem;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--grey-950);
}

main {
  width: 100%;
  max-width: 450px;
  min-height: 450px;
  background: linear-gradient(var(--blue-900), var(--blue-950));
  border-radius: 30px;
  padding: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.rating-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.rating-section.hidden {
  display: none;
}

.img-card {
  width: 4rem;
  height: 4rem;
  background-color: var(--grey-900);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.rating-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 20px;
}

.rating-button {
  border: none;
  background: var(--blue-900);
  color: var(--grey-500);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.rating-button:hover {
  background: var(--orange-500);
  color: var(--grey-950);
}

.rating-button.selected {
  background-color: var(--white);
  color: var(--grey-950);
}

.error-message {
  visibility: hidden;
  color: rgb(130, 9, 9);
}

.error-message.error {
  visibility: visible;
}

.submit-button {
  background: var(--orange-500);
  padding: 10px;
  border-radius: 40px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background: var(--white);
  color: var(--grey-950);
}

.success-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thank-you-image {
  width: 150px;
}

.selected-number {
  background: var(--grey-900);
  color: var(--orange-500);
  padding: 8px 25px;
  margin: 3rem 0;
  border-radius: 30px;
  font-size: 1.3rem;
}

.success-section.hidden {
  display: none;
}

.attribution a {
  text-decoration: none;
  color: var(--orange-500);
}

.attribution a:hover {
  text-decoration: underline;
  color: var(--orange-600);
}

@media (max-width: 425px) {
  main {
    max-width: 400px;
  }
}
